.flower-item {
    padding-right: 0 !important;
    padding-left: 0 !important;
    flex-grow: 1 !important;
    position: relative !important;
    cursor: pointer;
    max-width: 50% !important;
    margin: 0 auto;
}
.flower-item img {
    height: 250px;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.flower-content {
    position: relative;
    border: 2px solid white;
    overflow: hidden;
}
.flower-overlay {
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
    position: absolute;
    left:0;top:0;right:0;bottom:0;  
    transition: all 1s;
    z-index: 9;
}
.flower-data {
    color: #fff;
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    z-index: 10;
}
.flower-list {
    margin:5rem 0;
}
.flower-data h5 {
    margin-bottom: 0;
}
.search-header {
    height:45vh;
    background-image: url(/violets.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
}
.search-header .search-overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.search-header input[type="search"], .search-header input[type="search"] + span {
    background-color: #fff;
    border: 0;
    height: 60px;
    -webkit-box-shadow: none !important;
    box-shadow:  none !important;
}
.search-header input[type="search"] + span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.flower-overlay:hover {
    opacity:0;
}
.search-header i.fa {
    font-size: 1.5rem;
}